.container-lista ul {
    position: absolute;
    padding-left: 0px;
    margin-top: 0px;
}

.container-lista li{
    margin: 0;
    padding: 0;
    padding: 10px;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    border-top: none;
    list-style: none;
    color: black;
}
.autocompletado-results :hover {
    cursor: pointer;
    background-color: #bbbbbb;
}